.store-display{
  text-align: center;
}

.product-display{
  margin:0 auto;
  width:70%;
  border:1px solid black;
}

.card-search{
  margin:15px;
  height:35px;
  font-size:22px;
  padding:4px;
}

.card-item{
  width:250px;
  margin:10px;
}

.user-panel{
  position:fixed;
  right:50px;
  top:30px;
  text-align: center;
  width: 200px;
  height:60px;
  border:1px solid lightgrey;
  box-shadow: 2px 2px 8px grey;
}

.shopping-cart{
  position:relative;
  top:15px;
  right:-5px;
  font-size:35px;
}

.shopping-cart:hover{
  color:grey;
}

.shopping-cart:active{
  color:lightgrey;
}

.log-in-modal .modal-content{
  text-align: center;
}

.log-in-modal input{
  width:90%;
}

.log-in{
  margin:10px auto;
  display:block;
}
